{% extends 'base.html.twig' %}

{% block title %}Fostane{% endblock %}

{% block body %}


{# __________Lien pour icone FA_______________ #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


<div class="container">
    <h1 class="text-center mt-5 mb-5 font-weight-bold">Panier</h1>

    <table class="table m-auto">
        <thead>
            <tr>
                <th class="text-center text-uppercase">Image</th>
                <th class="text-center text-uppercase">Product</th>
                <th class="text-center text-uppercase">Prix</th>
                <th class="text-center text-uppercase">Quantité</th>
                <th class="text-center text-uppercase">Total</th>
                <th class="text-center text-uppercase">Total hors taxe</th>
                <th class="text-center text-uppercase">Total TVA</th>

            </tr>
        </thead>
        <tbody>
        {% for row in panier %}
            <tr> 
                {# Ici on fait appel au panier service #}
                <td class="text-center"> <img src="{{ asset('images/' ~ row['product'].image) }}" style="width : 50px" alt="ImageProduct"></td>
                <td class="text-center">{{ row['product'].name }}</td>
                <td class="text-center">{{ row['product'].prix }}</td>
                <td class="text-center">
                    <a href="{{ path('app_panier_delete_quantity' , { 'id' : row['product'].id } ) }}"><i class="fa-solid fa-minus"></i></i></a>
                    {{ row['quantity'] }}
                    <a href="{{ path('app_panier_add_product' , { 'id' : row['product'].id } ) }}"><i class="fa-solid fa-plus"></i></a>
                </td>
                <td class="text-center">{{ row['total'] |number_format(2) }} € </td>
                <td class="text-center">{{ row['totalHt'] |number_format(2) }} € </td>
                <td class="text-center">{{ row['totalTva'] |number_format(2) }} € </td>

                <td class="text-center">
                    <a href="{{ path('app_panier_delete_product' , { 'id' : row['product'].id } ) }}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{# Ici on fait appel au controller #}
<p class="text-center border border-danger fw-bold">Total HT : {{ totalHt_panier |number_format(2) }} € </p>
<p class="text-center border border-danger fw-bold">Total TVA : {{ totalTva_panier |number_format(2) }} € </p>
<p class="text-center border border-danger fw-bold">Total à payer : {{ total_panier |number_format(2) }} € </p>

<a class="btn btn-success" href="{{ path('app_achat') }}">Valider le panier</a>

</div>


{% endblock %}
