{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}

<div class="container">

    <h1 class="text-center mt-3 mb-3">Bonjour {{ app.user.prenom }} ! </h1>
    
    <p class="col text-center">Adresse mail : {{ app.user.email }}</p>
    <p class="col text-center">Prenom : {{ app.user.prenom }}</p>
    <p class="col text-center">Nom : {{ app.user.nom }}</p>
    <p class="col text-center">Adresse : {{ app.user.adresse }}</p>
    <p class="col text-center">Code postal : {{ app.user.codePostale }}</p>
    <p class="col text-center">Ville : {{ app.user.ville }}</p>
    <p class="col text-center">Telephone : {{ app.user.telephone }}</p>
    <p class="col text-center"><img src="{{ asset('images/' ~ app.user.avatar) }}" alt="" style="width:100px"></p>

{# Pour afficher l'input pour changer d'image de profil #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {# Affiche les non livré #}




    <div class="row text-center">
        <div class="col-6">

            <h3>Commande en cours</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>N°commande</th>
                        <th>Date commande</th>
                        {#<th>Detail</th>#}
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for item in app.user.commandes %}
                            {% if item.livraison == false %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.dateCommande | date('Y/m/d') }}</td> 
                                {# <td>Detail</td>
                                    {% for detail in item.detailCommandes %}
                                        
                                    {% endfor %}
                                </td> #}
                                <td>{{ item.total | number_format(2) }} € </td>
                            </tr>    
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6">

        <h3>Commande livré</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>N°commande</th>
                    <th>Date commande</th>
                    <th>Total</th>
                    {#<th>Detail</th>#}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for item in app.user.commandes %}
                        {% if item.livraison == true %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.dateCommande | date('Y/m/d') }}</td>
                            <td>{{ item.total }}</td>
                            {# <td>{{ item.detailCommande }}</td> #}
                        </tr> 
                        {% endif %}
                    {% endfor %} 
                </tr>
            </tbody>
        </table>
        
        </div>
    </div>
</div>
{% endblock %}
