{% extends 'base.html.twig' %}

{% block title %}Fostane{% endblock %}

{% block body %}

{# __________Lien pour icone FA_______________ #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">



<div class="container">
    <h1 class="text-center mt-3 mb-3">Produit</h1>
    <div class="row">

        <div class="col-7">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ product.prix }}</td>
                    </tr>
                    <tr>
                        <th>Quantité</th>
                        <td>{{ product.quantity }}</td>
                    </tr>
                    <tr>
                        <th>Référence</th>
                        <td>{{ product.ref }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><img src="{{ asset('images/' ~ product.image ) }}" alt="" style="width:200px"></td>
                    </tr>
                </tbody>
            </table>
            <div class="row-reverse">
                <a href="{{ path('app_product_index') }}"><button class="bg-dark text-white rounded-4">Retour</button></a>
                <a href="{{ path('app_product_edit', {'id': product.id}) }}"><button class="bg-dark text-white rounded-4">Modifier</button></a>
                
                <p>{{ include('product/_delete_form.html.twig') }}</p>
            </div>
        </div>



        <div class="col-5 mt-4">
            <hr>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

            <hr>
            {% for pictur in product.picturs %}
                <img src="{{ asset('images/' ~ pictur.name ) }}" alt="" style="width : 100px">
                {{ include('picturs/_delete_form.html.twig') }}
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}
