{% extends 'base.html.twig' %}

{% block title %}Fostane{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Tva</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center col-3">Id</th>
                <th class="text-center col-3">Name</th>
                <th class="text-center col-3">Taux</th>
                <th class="text-center col-3">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tva in tvas %}
            <tr>
                <td class="text-center col-3">{{ tva.id }}</td>
                <td class="text-center col-3">{{ tva.name }}</td>
                <td class="text-center col-3"> {{ tva.taux }}</td>
                <td class="text-center col-3">
                    <a href="{{ path('app_tva_show', {'id': tva.id}) }}">Voir</a>
                    <a href="{{ path('app_tva_edit', {'id': tva.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tva_new') }}"><button class="bg-dark text-white rounded-4">Créer une nouvelle tva</button></a>
</div>
{% endblock %}

